* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
}

body {
  color: #fff;
  background-image: url('./photos/bg.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;

}

main {
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
}
h1 {
  margin: 0;
  padding-top: 20px;
  text-transform: uppercase;
}

.info {
  width: 70%;
  min-width: 300px;
  margin: 0 auto;
  background: #667db6;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.country {
  color: orange;
  margin-left: 1rem;
}

.fiveDaysWeather{
  width: 70%;
  min-width: 300px;
  margin: 0 auto;
  background: #667db6;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6);
}